{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Project - Home</title>

    <link ty rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <img src="{% static 'images/' %}{{img}}.png" alt="Unable to load image" class="image center">
    <form method="POST" class="center">
        {% csrf_token %}
        <textarea name="thts" id="textArea" class="textArea"  cols="100" rows="100" placeholder="thoughts about the above image..."></textarea>
        <br>
        <button type="submit" class="button">Analyse</button>
    </form>
</body>
</html>